<div class="form-inline w-50 mt-4 mb-2 search-bar-center" id="search-bar">
  <%= form_with url: monsters_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control bg-color-white",
          placeholder: "Enter monster/seller info"
    %>
    <%= button_tag(type: "submit", class: "search-bar-button-index btn btn-outline-dark  px-3") do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
    <%= link_to("All", monsters_path(query: "all"), class: "btn btn-outline-dark px-3 margin-left-all-button") %>
  <% end %>
</div>

<% if @monsters.any? %>
  <div class="d-flex my-3">
    <div class="bg-color-white cards">
      <% @monsters.each do |monster| %>
        <div class="m-3">
          <%= link_to monster_path(monster) do %>
            <div class="card px-3">
              <%= cl_image_tag(monster.photo.key, :class => "card-img-top") %>
              <div class="card-body text-center">
                <h5 class="card-title"><%= monster.name %></h5>
                <p class="card-text">Price: $<%= monster.price %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="map"
      style="width: 40%; height: 750px;"
      class="p-2"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% else %>

  <div class="no-monster-found">
    <h2>No results for this search...</h2>
    <p>Try username, species of  monster or name of monster.</p>
    <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758_1280.png" alt="Monster with laptop">
  </div>
<% end %>
