<h1><%= @monster.name %></h1>

<p><%= @monster.ability %></p>

<%= cl_image_tag @monster.photo.key, height: 300, width: 400, crop: :fill %>

<div>
  <%= simple_form_for([@monster, @booking])  do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date%>
    <p><%= @monster.price %>$ / per day</p>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>

<div>
  <%= simple_form_for([@monster, @review])  do |f| %>
    <%= f.input :comment, as: :text %>
    <%= f.input :rating, collection: (1.0..5.0).to_a %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
