<h1><%= @monster.name %></h1>

<p><%= @monster.ability %></p>

<div>
  <%= simple_form_for([@monster, @booking])  do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date%>
    <p><%= @monster.price %>$ / per day</p>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
