<div class="container">
  <div class="d-flex">
    <div class="flex-direction">
      <%# turn a picture into a bakground image for resizing and filling purposes %>
      <%= cl_image_tag(@monster.photo.key, :class => "show-photo-border-radius") %>
      <div class="align-self-center mt-2 p-3 monster-spec-background-color">
        <h1 class="monster-list-margin"><%= @monster.name.capitalize %></h1>
        <div class="display-ability-species-margin">
          <div class="d-flex">
            <div class="w-50">
              <p class="monster-list-margin"><span>Species:</span> <%= @monster.species.capitalize %></p>
              <p class="monster-list-margin"><span>Ability:</span> <%= @monster.ability.capitalize %></p>
            </div>
            <div class="w-50">
              <p><span>Address:</span> <%= @monster.address %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-3 booking-form-container booking-form-margin-left">
      <%= simple_form_for([@monster, @booking]) do |f| %>
        <h2>Book your monster</h2>
        <%= f.input :start_date, as: :date, label_html: { class: "booking-form-label-font-size"}, input_html: { class: "p-2" } %>
        <%= f.input :end_date, as: :date, label_html: { class: "booking-form-label-font-size"}, input_html: { class: "p-2" } %>
        <h3 class="my-4">£<%= @monster.price.round %> / per day</h3>
        <%= f.button :submit, 'Book now!', class: "btn-dark mb-3" %>
      <% end %>
    </div>
  </div>

  <div class="d-flex mb-1">

    <div class="review-backgroud-color-white my-2 p-3 mr-2 w-50 left-review-card-margin">
      <% @monster.reviews.each do |review| %>
        <div class="review-box">
          <div class="review-card-user-info">
            <%= image_tag "https://upload.wikimedia.org/wikipedia/en/6/6a/Mike_Wazowski.png", class: "avatar-bordered border border-dark" %>
              <div class="review-card-user-info-text">
              <p><strong><%= review.user.username %></strong></p>
              <p><%= review.user.address %></p>
              </div>
          </div>
          <p><%= icon('fa-solid fa-ghost fa-fw', style: "color: #000000") * review.rating %></p>
          <p><%= review.comment %></p>
        </div>
      <% end %>
    </div>

    <div class="p-3 review-backgroud-color-white my-2 w-50">
      <%= simple_form_for([@monster, @review]) do |f| %>
        <h2>Leave a review</h2>
        <%= f.input :rating, collection: 1..5, label_html: { class: "booking-form-label-font-size"} %>
        <%= f.input :comment, as: :text, label_html: { class: "booking-form-label-font-size"} %>
        <%= f.button :submit, 'Leave review!', class: "btn-outline-dark w-100" %>
      <% end %>
    </div>

  </div>
</div>
