<h1 class="mb-3">Dashboard</h1>

<div class="container-dashboard "style="height: 400px;">

    <%# my monsters  %>
  <div class="my-bookings-container monster-spec-background-color p-3 mb-2 w-50 me-1" >
    <div class="my_monster d-flex justify-content-between">
      <h2 class="mb-3 ">My Monsters </h2>
      <div class="adding-monster">
      <%= link_to "Add monster", new_monster_path, class: "btn btn-dark mon-dash-btn" %>
      </div>
    </div>

      <div class="scroll-monster overflow-auto">
        <% current_user.monsters.each do |monster| %>
          <div class="card-trip">
            <%= cl_image_tag(monster.photo.key, :class => "show-photo-border-radius") %>
            <div class="card-trip-infos">
              <div class="div">
                <h3><%= monster.name %></h3>
                <p><strong>Species: </strong><%= monster.species %></p>
                <p><strong>Ability: </strong><%= monster.ability %></p>
                <p><strong>Price: </strong>£<%= monster.price.round %> /day</p>
              </div>
              <div class="button-monsters">
                <%= link_to edit_monster_path(monster), class: "btn btn-outline-dark" do %>
                  <i class="fa-solid fa-pencil"></i>
                <% end %>
                <%= link_to monster_path(monster), class: "btn btn-outline-dark", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>


    <%# my bookings %>
  <div class="my-bookings-container monster-spec-background-color p-3 mb-2 w-50 ms-1" >

    <h2 class="mb-3">My Bookings</h2>
      <div class="scroll-monster overflow-auto">
      <% current_user.bookings.each do |booking| %>
        <div class="card-trip">
          <%= cl_image_tag(booking.monster.photo.key, :class => "show-photo-border-radius") %>
          <div class="card-trip-infos">
            <div>
              <h3><%= booking.monster.name %></h3>
              <p><strong>Species: </strong><%= booking.monster.species %></p>
              <p><strong>Booked: </strong><%= "#{booking.start_date} - #{booking.end_date}" %></p>
            </div>
            <div>
              <% days = booking.end_date - booking.start_date %>
              <p><strong>Total cost: </strong><%= "£#{ days.to_i * booking.monster.price.round }"%></p>
              <p><%= "£#{ booking.monster.price.round } per day " %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="tracking"
  data-tracking-markers-value="<%= @markers_tracking.to_json %>"
  data-tracking-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
