<h1>Dashboard</h1>

<h2>My bookings</h2>

<% current_user.bookings.each do |booking| %>
  <h3><%= booking.monster.name %></h3>
  <ul>
    <li>Species: <%= booking.monster.species %></li>
    <li>Price: <%= booking.monster.price %></li>
    <li>Start date: <%= booking.start_date %></li>
    <li>End date: <%= booking.end_date %></li>
  </ul>
<% end %>

<h2>My monsters</h2>

<%# new monster %>
<%= link_to "List new monster", new_monster_path %>

<% current_user.monsters.each do |monster| %>
<h3><%= monster.name %></h3>
<%# edit/update monster %>
<%= link_to "Edit monster details", edit_monster_path(monster) %>
<ul>
    <li>Species: <%= monster.species %></li>
    <li>Start date: <%= monster.ability %></li>
    <li>Price: <%= monster.price %></li>
  </ul>

<%= link_to "Delete", monster_path(monster), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
