<h1>Dashboard</h1>

<h2>My bookings</h2>

<% current_user.bookings.each do |booking| %>
  <h3><%= booking.monster.name %></h3>
  <ul>
    <li>Species: <%= booking.monster.species %></li>
    <li>Price: <%= booking.monster.price %></li>
    <li>Start date: <%= booking.start_date %></li>
    <li>End date: <%= booking.end_date %></li>
  </ul>
<% end %>

<h2>My monsters</h2>

<%# new monster %>
<%= link_to "List new monster", new_monster_path %>

<% current_user.monsters.each do |monster| %>
<h3><%= monster.name %></h3>
<%# edit/update monster %>
<%= link_to "Edit monster details", edit_monster_path(monster) %>
<ul>
    <li>Species: <%= monster.species %></li>
    <li>Price: <%= monster.ability %></li>
    <li>Start date: <%= monster.price %></li>
  </ul>
<% end %>

<% current_user.bookings.each do |booking| %>
<div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h3><%= booking.monster.name %></h3>
      <p>Species: <%= booking.monster.species %></p>
    </div>
    <p>Booked: <%= "#{booking.start_date} - #{booking.end_date}" %></p>
    <p>Total cost: <%= "£#{booking.monster.price}" %></p>
  </div>
</div>
<% end %>



<div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
  </div>
</div>
