<div class="home-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/5589913/pexels-photo-5589913.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
    <div class="container">
      <h1><strong>Monsters Market</strong></h1>
      <p>Monsters for Rent: Because sometimes a little <strong class="bold">chaos</strong> is just what your party needs!</p>
      <div><%= link_to 'Find Out More', "#scroll", class: 'button', id: "btn"%></div>
      <div class="banner-start">
        <div class="start-button">
          <% if user_signed_in? %>
            <%= link_to 'Find monsters near you!', monsters_path, class: "button p-0" %>
          <%  else  %>
            <%= link_to 'Find monsters near you!', new_user_session_path, class: "button p-0"%>
          <% end %>
        </div>
      </div>
      <div><i class="fa-solid fa-chevron-down fa-2xl"></i></div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="section-1">
      <div class="sub-section-1">
      <h2>What we do!</h2>
      <p>We offer monsters to the world!</p><br>
      <i class="fa-solid fa-earth-americas fa-2xl mb-3"></i><br>
      <div class="d-flex justify-content-center"><%= link_to 'Checkout our monsters!', monsters_path, class: "button", id: "annoying-button" %></div>
      </div>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/122.png" alt="mr-mime">
    </div>
    <div id="scroll"></div>


    <div class="section-2">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/904.png" alt="overquil">
      <div class="sub-section-2">
      <h2>What can you do?</h2>
      <p>Admire, Book and stay Entertained by our unique monsters!</p><br>
        <div class="icon-div">
        <i class="fa-regular fa-eye fa-2xl"></i>
        <i class="fa-solid fa-arrow-right fa-2xl"></i>
        <i class="fa-solid fa-bookmark fa-2xl"></i>
        <i class="fa-solid fa-arrow-right fa-2xl"></i>
        <i class="fa-solid fa-face-laugh-squint fa-2xl"></i>
        </div>
      </div>
    </div>
    <div class="section-3">
      <div class="sub-section-3">
        <h2>Do you have a monster to monetize?</h2>
        <p>Got a creature that deserves the spotlight? Help him make a living!</p><br>
        <div class="3-link"><%= link_to 'Make use of your monster!', new_user_registration_path, class: "button"%></div>
      </div>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png" alt="charizard">
    </div>
</div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Thank you for using MonstersMarket! <i class="fas fa-heart"></i>
    </div>
  </div>
